<ion-view>
    <ion-nav-title>Signup</ion-nav-title>
    <ion-content>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Username</span>
                <input type="text" placeholder="Username" ng-model="username" id="username">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Password" ng-model="password" id="password">
            </label>
        </div>
        <button class="button button-block" ng-disabled="!ready" ng-click="signup(username,password)">Sign Up</button>
    </ion-content>
    <ion-footer-bar ui-sref="login" class="bar-dark">
        <p class="title">Already have an account ?</p>
    </ion-footer-bar>
</ion-view>